---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Head">
  <section class="p-4 h-screen">
    <div class="relative flex flex-col">
      <img src="/images/hero.webp" alt="" class="rounded-xl" />
      <div
        class="absolute bottom-10 right-8 font-rubik text-4xl font-semibold text-right"
      >
        Astro On Nada<br />
      </div>
    </div>
    <div class="text-sm font-extralight text-left mt-2">
      This Site is built with Astro <br />08-02-2024
    </div>

    <p class="mt-4">
      In the digital age, storytelling has evolved beyond traditional mediums to
      include interactive narratives that engage audiences in new and exciting
      ways. JavaScript, with its versatility and widespread use in web
      development, has become a powerful tool for creating these interactive
      stories. In this article, we'll explore how you can use JavaScript to
      build compelling stories that captivate your audience.
    </p>
    <p class="mt-4">
      Interactive stories are narratives that allow the audience to participate
      in the storytelling process. They can take many forms, from simple
      choose-your-own-adventure-style narratives to complex, branching stories
      that adapt based on user input. By giving users the ability to make
      choices that impact the story's outcome, interactive stories create a more
      immersive and engaging experience.
    </p>
    <a href="/auth/login">
      <button class="bg-blue-400 p-2 rounded-2xl text-white mt-2"
        >Login To Continue</button
      >
    </a>
  </section>
</Layout>
